In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import pydot
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

## For standardization: 
Depending on the task objetives. For example; for neural networks is recommended normalization Min max for activation functions. To avoid saturation Basheer & Najmeer (2000) recommend the range 0.1 and 0.9.

# Prep Model

In [18]:
def getfile():
    df=pd.read_csv(r'D3.csv')
    a=10.986409919681789
    b=171.91508511054587
    df['height']=df['height']*a+b       
    return df

In [19]:
def data_d3(): 
    df = getfile()
    df['height']=df.height.round()
    df['contacts_count']=df.contacts_count.round()
    #Height is Z-score Normalized  => need to change => reverse Z-score and convert to int32
    # contacts_count in assessment 1 have been imputed with MEAN => round it into int32
    mapping = {'yes':1, 'no':0, 'blank':np.nan}
    df['insurance']=df.insurance.map(mapping)
    df['insurance'].fillna(df['insurance'].mode()[0], inplace=True)
    secmap={'native':1,'immigrant':0, 'blank':np.nan}
    df['immigrant']=df.immigrant.map(secmap)
    df['immigrant'].fillna(df['immigrant'].mode()[0], inplace=True)
    #Convert data type: 
    convert_dict = {'contacts_count':int, 'height': int,'worried': int, 'immigrant':bool,'insurance':bool,'covid19_positive':bool,'covid19_symptoms':bool,'covid19_contact':bool,'asthma':bool,'kidney_disease':bool,'liver_disease':bool,'compromised_immune':bool,'heart_disease':bool,'lung_disease':bool,'diabetes':bool,'hiv_positive':bool,'hypertension':bool,'other_chronic':bool,'nursing_home':bool,'health_worker':bool}
    df = df.astype(convert_dict) 

    df = pd.get_dummies(df)
    y = df['covid19_positive']
    X = df.drop(['covid19_positive'], axis=1)
    
    
    # setting random state
    rs = 42

    X_mat = X.to_numpy()
    X_train, X_test, y_train, y_test = train_test_split(X_mat, y, test_size=0.29, stratify=y, random_state=rs)

    return df,X,y,X_train, X_test, y_train, y_test

In [20]:
df=getfile()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Data columns (total 33 columns):
region                    5111 non-null object
country                   5111 non-null object
sex                       5111 non-null object
age                       5111 non-null object
height                    5111 non-null float64
weight                    5111 non-null int64
blood_type                5111 non-null object
insurance                 5111 non-null object
income                    5111 non-null object
race                      5111 non-null object
immigrant                 5111 non-null object
smoking                   5111 non-null object
contacts_count            5111 non-null float64
house_count               5111 non-null int64
public_transport_count    5111 non-null int64
working                   5111 non-null object
worried                   5111 non-null int64
covid19_positive          5111 non-null int64
covid19_symptoms          5111 non-null int64
covid19_contact           5111 non-null int64
asthma                    5111 non-null int64
kidney_disease            5111 non-null int64
liver_disease             5111 non-null int64
compromised_immune        5111 non-null int64
heart_disease             5111 non-null int64
lung_disease              5111 non-null int64
diabetes                  5111 non-null int64
hiv_positive              5111 non-null int64
hypertension              5111 non-null int64
other_chronic             5111 non-null int64
nursing_home              5111 non-null int64
health_worker             5111 non-null int64
risk_mortality            5111 non-null float64
dtypes: float64(3), int64(19), object(11)
memory usage: 1.3+ MB

In [19]:
# For Regression: 
def analyse_feature_importance(dm_model, feature_names, n_to_display=20):
    # grab feature importances from the model
    importances = dm_model.feature_importances_
    
    # sort them out in descending order
    indices = np.argsort(importances)
    indices = np.flip(indices, axis=0)

    # limit to 20 features, you can leave this out to print out everything
    indices = indices[:n_to_display]

    for i in indices:
        print(feature_names[i], ':', importances[i])

In [20]:
# Decision Tree 
def visualize_decision_tree(dm_model, feature_names, save_name):
    dotfile = StringIO()
    export_graphviz(dm_model, out_file=dotfile, feature_names=feature_names)
    graph = pydot.graph_from_dot_data(dotfile.getvalue())
    graph[0].write_png(save_name) # saved in the following file

In [21]:
df,X,y,X_train, X_test, y_train, y_test = data_d3()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Columns: 167 entries, height to working_travel non critical
dtypes: bool(17), float64(1), int32(3), int64(3), uint8(143)
memory usage: 1018.3 KB

In [4]:
df=pd.read_csv(r'D3.csv')

In [5]:
df.insurance.unique()

array(['yes', 'no', 'blank'], dtype=object)

In [16]:
df['asthma']=df.asthma.astype('bool')

In [6]:
df.insurance.unique()

array(['yes', 'no', 'blank'], dtype=object)

In [13]:
df.insurance.value_counts()

1.0    4561
0.0     550
Name: insurance, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5111 entries, 0 to 5110
Data columns (total 33 columns):
region                    5111 non-null object
country                   5111 non-null object
sex                       5111 non-null object
age                       5111 non-null object
height                    5111 non-null float64
weight                    5111 non-null int64
blood_type                5111 non-null object
insurance                 5111 non-null object
income                    5111 non-null object
race                      5111 non-null object
immigrant                 5111 non-null object
smoking                   5111 non-null object
contacts_count            5111 non-null float64
house_count               5111 non-null int64
public_transport_count    5111 non-null int64
working                   5111 non-null object
worried                   5111 non-null int64
covid19_positive          5111 non-null int64
covid19_symptoms          5111 non-null int64
covid19_contact           5111 non-null int64
asthma                    5111 non-null int64
kidney_disease            5111 non-null int64
liver_disease             5111 non-null int64
compromised_immune        5111 non-null int64
heart_disease             5111 non-null int64
lung_disease              5111 non-null int64
diabetes                  5111 non-null int64
hiv_positive              5111 non-null int64
hypertension              5111 non-null int64
other_chronic             5111 non-null int64
nursing_home              5111 non-null int64
health_worker             5111 non-null int64
risk_mortality            5111 non-null float64
dtypes: float64(3), int64(19), object(11)
memory usage: 1.3+ MB

In [11]:
df.immigrant.value_counts()

1.0    4589
0.0     522
Name: immigrant, dtype: int64

In [10]:
secmap={'native':1,'immigrant':0, 'blank':np.nan}
df['immigrant']=df.immigrant.map(secmap)
df['immigrant'].fillna(df['immigrant'].mode()[0], inplace=True)

In [14]:
df.insurance.isnull().sum()

0

In [18]:
df

,region,country,sex,age,height,weight,blood_type,insurance,income,race,...,compromised_immune,heart_disease,lung_disease,diabetes,hiv_positive,hypertension,other_chronic,nursing_home,health_worker,risk_mortality
0,AM,US,male,50_60,1.100095,80,ap,NaN,med,white,...,0,0,0,0,0,0,0,0,0,0.194
1,EU,NL,female,80_90,-0.720514,84,ap,NaN,med,white,...,0,0,0,0,0,1,0,0,0,3.483
2,SA,BR,female,20_30,-0.174331,64,ap,NaN,med,white,...,0,0,0,0,0,0,0,0,0,0.050
3,EU,CH,male,90_100,-3.633488,124,op,NaN,med,white,...,0,0,0,0,1,0,0,0,0,13.973
4,AM,US,male,30_40,1.100095,118,op,NaN,med,white,...,0,0,0,1,0,1,1,0,0,0.116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5106,AM,US,female,70_80,-0.538453,66,op,NaN,high,white,...,0,0,0,0,0,0,0,0,0,1.496
5107,AM,CA,male,70_80,-0.356392,70,bp,NaN,med,asian,...,0,0,0,0,0,0,0,0,0,3.510
5108,AM,US,male,70_80,0.918034,82,op,NaN,high,white,...,0,0,0,0,0,1,0,0,0,2.171
5109,AM,US,male,50_60,1.100095,80,ap,NaN,high,white,...,0,0,0,0,0,0,0,0,0,0.557
5110,AM,US,female,30_40,0.007730,66,ap,NaN,med,white,...,0,0,0,0,0,0,0,0,0,0.050

In [21]:
df.insurance.unique()

array([nan])

In [22]:
df.immigrant.unique()

array([1., 0.])

In [12]:
mapping = {'yes':1, 'no':0, 'blank':np.nan}
df['insurance']=df.insurance.map(mapping)
df['insurance'].fillna(df['insurance'].mode()[0], inplace=True)